*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0!important;
}
.clear	{
	clear: both;
}
header{
	background-image:url('../img/header-banner.jpg');
	display: block;
	height: auto;
	background-size: cover;
}
nav{
	background:#fff;
	height: 100px;
	width: 100%;
}
.p{
	padding-left: 30%;
}
nav ul li {
	list-style: none;
	float: left;
	padding: 40px 10px;
}
nav ul li:nth-child(1){
	padding: 15px 20px;
}
nav ul li a {
	text-decoration: none;
}
nav ul li a img {
	width: 75px;
}
section{
	width: 100%;
}
section .h-title{
	text-align: center;
	padding-top: 15%;
	padding-bottom: 15%;
}
.h-title h1{
	border: 5px solid #fff;
	width: 200px;
	color: #fff;
	margin: 0 auto;
	font-size: 40px;
}
.h-title h2{
	margin-top: 20px;
	font-size: 30px;
	color: #fff;
}
a span i{
	color: #fff;
	margin-top: 30px;
	border: 1px solid #fff;
	width: 65px;
	height: 50px;
	border-radius: 50%;
	padding-top: 20px;
	padding-left: 5px;
}


/*//// content ////*/
.c-title h1{
	border: solid 5px #000;
	text-align: center;
	width: 150px;
	margin: 50px auto;
}
.c-title p {
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
.c-title img{
	margin-left: 25%;
	margin-top: 50px;
}
.c-info{
	background-color: #ababab;
	display: inline-block;
}
.one{
	width: 100%;
}
.o-title{
	text-align: center;
	padding-top: 10%;

}
.two{
	width: 100%;
}
.three{
	width: 100%;
}


/*///Service///*/
.s-title h1{
	margin-top: 50px;
	border: solid 5px #000;
	text-align: center;
	width: 150px;
	margin: 50px auto;
}
.s-content{
	margin-left: 20%;
}
.s-c-one{
	position: relative;
}
.s-c-one .c-o-kiri, .s-c-two .c-o-kiri, .s-c-three .c-o-kiri, .s-c-four .c-o-kiri, .s-c-five .c-o-kiri{
	z-index: 2;
	position: relative;
	border: solid 1px transparent;
	background-color: #000;
	color: #fff;
	text-align: center;
	width: 390px;
	height: 390px;
	padding-top: 190px;
	float: left;
	transition: all .8s cubic-bezier(.77,0,.175,1);
}
.s-c-two .c-o-kiri,
.s-c-four .c-o-kiri,
.s-c-two .c-o-kanan,
.s-c-four .c-o-kanan{
	left: 390px;
}
.s-c-one .c-o-kanan, .s-c-two .c-o-kanan, .s-c-three .c-o-kanan, .s-c-four .c-o-kanan, .s-c-five .c-o-kanan{	
	display: block;
	position: relative;
	border: solid 1px transparent;
	background-color: #0f0f0f;
	color: #fff;
	text-align: center;
	width: 390px;
	height: 390px;
	padding-top: 190px;
	float: left;
	transition: .6s cubic-bezier(.165,.84,.44,1);
	z-index: 1;
}
.ds-two{
	width: 50%;
	float: left;
}